@use "../global" as *;

/* project .p-gradation
   ----------------------------------------------------------------- */

.p-gradation {
  position: relative;
  overflow: hidden;
  padding-bottom: 75px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 13%;
    left: 50%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 150%;
    transform: skewY(-35deg) translateX(-50%);
    background: $color-secondary;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    transform: skewY(-45deg);
    width: 100%;
    height: 70%;
    background: $color-primary;

    @include mq(md) {
      transform: skewY(0);
      width: 45%;
      height: 65%;
      background: linear-gradient(to bottom right, transparent 50%, $color-primary 50%);
    }
  }
}

.p-gradation__part {
  position: absolute;
  bottom: -5%;
  right: 0;
  transform: skewY(-50deg);
  background: $color-accent;
  width: 100%;
  height: 10%;

  @include mq(md) {
    z-index: -1;
    bottom: -5%;
    width: 56%;
    height: 75%;
    transform: skewY(12deg);
    background: linear-gradient(to bottom right, transparent 50%, $color-accent 50%);
  }
}
