//- meta情報をオブジェクトにまとめて管理しています。
-
  var siteInfo = {
    "name": "Memories",
    "siteUrl": "dummy.url"
  };
-
  var meta = {
    "home": {
      "title": "Memories",
      "description": "世界最大級のカーイベント。世界各国から集まるクラシックカーのチューニング・ドレスアップの総合展示会",
      "keywords":"カーイベント,クラシックカー,アメ車,レトロ,ヴィンテージ",
      "type": "website",
      "slug":"/"
    }
  };