extends ./modules/_template
block page
  - var page = 'home';

block main
  main.l-main.l-home
    //- メインビジュアル
    section.p-mv
      .p-mv__slider.swiper
        .swiper-wrapper
          picture.p-mv__picture.swiper-slide
            source.p-mv__img(srcset="../img/mv03.webp", type="image/webp")
            img.p-mv__img(src="../img/mv03.jpg", width="1440",height="1044", alt="車の内装")
          picture.p-mv__picture.swiper-slide
            source.p-mv__img(srcset="../img/mv01.webp", type="image/webp")
            img.p-mv__img(src="../img/mv01.jpg", width="1440",height="1044", decoding="async", alt="車のフロントマスク")
          picture.p-mv__picture.swiper-slide
            source.p-mv__img(srcset="../img/mv04.webp", type="image/webp")
            img.p-mv__img(src="../img/mv04.jpg", width="1440",height="1044", decoding="async", alt="車のサイド")
        .p-mv__content-wrapper.l-container.l-container--large
          .p-mv__content.js-slider-content
            h2.p-mv__heading: span.is-marker 
              | Bring 
              br.u-hidden-lg-up
              | back memories
            p.p-mv__lead: span.is-marker
              | Dolor sit amet.
          .p-mv__content.js-slider-content
            h2.p-mv__heading: span.is-marker
              | Sed eiusmod
            p.p-mv__lead: span.is-marker
              | Tempor incidunt ut labore.
          .p-mv__content.js-slider-content
            h2.p-mv__heading: span.is-marker
              | Lorem ipsum
            p.p-mv__lead: span.is-marker
              | Ad minim veniam.
        .p-mv__counter.p-counter
          span.p-counter__current: span#js-number.p-counter__number            
          span#js-total.p-counter__total
      .p-mv__scroll  
        | SCROLL
    //- ピックアップニュース
    article.p-pickup.l-home__pickup
      .p-pickup__inner 
        .p-pickup__heading 
          h2.c-section-heading.c-section-heading--pickup
            | NE#[span W]S
        .p-pickup__post
          .p-pickup__body
            time.p-pickup__date(datetime="2020-09-28")
              | 2020.09.28
            h3.p-pickup__title 
              | Webサイトをリニューアルしました。
          a.p-pickup__link
            | View more
    //- コンセプト
    section.p-home-concept.l-home__concept.js-trigger
      .p-home-concept__inner.l-container
        .p-home-concept__img-wrapper
          picture.p-home-concept__picture.is-mask-right
            source.p-home-concept__img(srcset="../img/concept02.webp", type="image/webp")
            img.p-home-concept__img(src="../img/concept02.jpg", width="231" height="488" alt="イベント会場の外装")
          picture.p-home-concept__picture.is-mask-right
            source.p-home-concept__img(srcset="../img/concept01.webp", type="image/webp")
            img.p-home-concept__img(src="../img/concept01.jpg", width="231" height="488" alt="イベント会場の中")
        .p-home-concept__content
          h2.c-section-heading.c-section-heading--concept.is-split-text
            | Concept 
          .p-home-concept__body 
            p.p-home-concept__head
              | With the #[span.is-split-text fire] in the old car with 
              | the #[span.is-split-text flame] of an old car.
            p.p-home-concept__foot
              | 木曾路はすべて山の中である。 
              | あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の
              | 岸であり、あるところは山の尾をめぐる谷の入り口である。
            .p-home-concept__link-wrapper
              a.c-button-primary
                | View more
    .p-gradation
      .p-gradation__part
      //- ラインナップ
      section.p-home-lineup.l-home__lineup.js-trigger
        .p-home-lineup__inner 
          .p-home-lineup__heading 
            h2.c-section-heading.c-section-heading--lineup.is-split-text
              | LINEUP
            .p-home-lineup__slider.swiper
              .swiper-wrapper
                picture.p-home-lineup__picture.swiper-slide
                  source.p-home-lineup__img(srcset="../img/lineup01.webp", type="image/webp")
                  img.p-home-lineup__img(src="../img/lineup01.png", alt="Mercedes-Benz B-Class Mercedes-Maybach")
                picture.p-home-lineup__picture.swiper-slide
                  source.p-home-lineup__img(srcset="../img/lineup02.webp", type="image/webp")
                  img.p-home-lineup__img(src="../img/lineup02.png", alt="Mercedes-Benz A-Class F-CELL")
                picture.p-home-lineup__picture.swiper-slide
                  source.p-home-lineup__img(srcset="../img/lineup03.webp", type="image/webp")
                  img.p-home-lineup__img(src="../img/lineup03.png", alt="Mercedes-Benz C-Class Stationwagon")
                picture.p-home-lineup__picture.swiper-slide
                  source.p-home-lineup__img(srcset="../img/lineup04.webp", type="image/webp")
                  img.p-home-lineup__img(src="../img/lineup04.png", alt="Mercedes-Benz S-Class All-Terrain")
                picture.p-home-lineup__picture.swiper-slide
                  source.p-home-lineup__img(srcset="../img/lineup05.webp", type="image/webp")
                  img.p-home-lineup__img(src="../img/lineup05.png", alt="Mercedes-Benz B-Class Shooting Break")
              .p-home-lineup__contents 
                h3.p-home-lineup__title.js-slider-title: span.is-clip-text
                  | Mercedes-Benz B-Class Mercedes-Maybach
                h3.p-home-lineup__title.js-slider-title: span.is-clip-text
                  | Mercedes-Benz A-Class F-CELL
                h3.p-home-lineup__title.js-slider-title: span.is-clip-text
                  | Mercedes-Benz C-Class Stationwagon
                h3.p-home-lineup__title.js-slider-title: span.is-clip-text
                  | Mercedes-Benz S-Class All-Terrain
                h3.p-home-lineup__title.js-slider-title: span.is-clip-text
                  | Mercedes-Benz B-Class Shooting Break
              .swiper-pagination
            .p-home-lineup__link-wrapper
              a.c-button-primary
                | View more
      //- ギャラリー
      section#gallery.p-home-gallery.l-home__gallery.js-trigger
        .l-container
          .p-home-gallery__inner
            .p-home-gallery__heading 
              h1.c-section-heading.c-section-heading--gallery.is-split-text
                | GALLERY
            .p-home-gallery__photos
              picture.p-home-gallery__picture.is-mask-right.is-mask-right--blend
                source.p-home-gallery__img(srcset="../img/gallery-lg.webp", type="image/webp")
                img.p-home-gallery__img(src="../img/gallery-lg.jpg", width="512", height="529", alt="イベント会場のギャラリー")
              picture.p-home-gallery__picture.is-mask-right.is-mask-right--blend
                source.p-home-gallery__img(srcset="../img/gallery01.webp", type="image/webp")
                img.p-home-gallery__img(src="../img/gallery01.jpg", width="256", height="257", alt="イベント会場のギャラリー")
              picture.p-home-gallery__picture.is-mask-right.is-mask-right--blend
                source.p-home-gallery__img(srcset="../img/gallery02.webp", type="image/webp")
                img.p-home-gallery__img(src="../img/gallery02.jpg", width="256", height="257", alt="イベント会場のギャラリー")
              picture.p-home-gallery__picture.is-mask-right.is-mask-right--blend
                source.p-home-gallery__img(srcset="../img/gallery03.webp", type="image/webp")
                img.p-home-gallery__img(src="../img/gallery03.jpg", width="256", height="257", alt="イベント会場のギャラリー")
              picture.p-home-gallery__picture.is-mask-right.is-mask-right--blend
                source.p-home-gallery__img(srcset="../img/gallery04.webp", type="image/webp")
                img.p-home-gallery__img(src="../img/gallery04.jpg", width="256", height="257", alt="イベント会場のギャラリー")
          .p-home-gallery__link-wrapper 
            a.c-button-primary.c-button-primary--blend
              | View more
      //- ニュース
      section.p-home-news.l-home__news.js-trigger
        .l-container
          .p-home-news__heading 
            h2.c-section-heading.c-section-heading--news.is-split-text
              | NEWS
          .p-home-news__contents
            article.p-home-news__items
              a.p-home-news__item.p-news-item
                time.p-news-item__date(datetime="2020-09-28")
                  | 2020.09.28
                h3.p-news-item__title 
                  | Webサイトをリニューアルしました。
              a.p-home-news__item.p-news-item
                time.p-news-item__date(datetime="2020-09-28")
                  | 2020.09.28
                h3.p-news-item__title 
                  | 東ざかいの桜沢から、西の十曲峠まで、木曾十一宿は。
              a.p-home-news__item.p-news-item
                time.p-news-item__date(datetime="2020-09-28")
                  | 2020.09.28
                h3.p-news-item__title 
                  | 新車が入荷しました。
              .p-home-news__link-wrapper
                a.c-button-primary.p-home-news__link
                  | View more
            .p-home-news__img-wrapper 
              picture.p-home-news__picture
                source.p-home-news__img(srcset="../img/news.webp", type="image/webp")
                img.p-home-news__img(src="../img/news.png", alt="")