extends ./modules/_template
block page
  - var page = 'home';

block main
  main.l-main.l-home
    //- メインビジュアル
    section.p-mv
      .p-mv__slider.swiper
        .swiper-wrapper
          picture.p-mv__picture.swiper-slide
            //- source.p-mv__img(srcset="../img/mv01.webp", type="image/webp")
            img.p-mv__img(src="../img/mv03.jpg", alt="メインビジュアル01")
          picture.p-mv__picture.swiper-slide
            //- source.p-mv__img(srcset="../img/mv01.webp", type="image/webp")
            img.p-mv__img(src="../img/mv04.jpg", decoding="async" alt="メインビジュアル02")
          picture.p-mv__picture.swiper-slide
            //- source.p-mv__img(srcset="../img/mv01.webp", type="image/webp")
            img.p-mv__img(src="../img/mv01.png", decoding="async" alt="メインビジュアル03")
        .p-mv__content-wrapper.l-container.l-container--large
          .p-mv__content.js-slider-content
            h2.p-mv__heading: span.is-slide-mask 
              | Bring 
              br.u-hidden-lg-up
              | back memories
            p.p-mv__lead: span.is-slide-mask
              | Dolor sit amet.
          .p-mv__content.js-slider-content
            h2.p-mv__heading: span.is-slide-mask
              | Sed eiusmod
            p.p-mv__lead: span.is-slide-mask
              | Tempor incidunt ut labore.
          .p-mv__content.js-slider-content
            h2.p-mv__heading: span.is-slide-mask
              | Lorem ipsum
            p.p-mv__lead: span.is-slide-mask
              | Ad minim veniam.
        .p-mv__counter.p-counter
          span.p-counter__current: span#js-number.p-counter__number            
          span#js-total.p-counter__total
      .p-mv__scroll  
        | SCROLL
    //- ピックアップニュース
    article.p-pickup.l-home__pickup
      .p-pickup__inner 
        .p-pickup__heading 
          h2.c-section-heading.c-section-heading--pickup
            | NE#[span W]S
        .p-pickup__post
          .p-pickup__body
            time.p-pickup__date 
              | 2020.09.28
            h3.p-pickup__title 
              | Webサイトをリニューアルしました。Webサイトをリニューアルしました。Webサイトをリニューアルしました。Webサイトをリニューアルしました。
          a.p-pickup__link(href="/") 
            | View more
    //- コンセプト
    section.p-home-concept.l-home__concept
      .p-home-concept__inner.l-container
        .p-home-concept__img-wrapper 
          picture.p-home-concept__picture
            //- source.p-home-concept__img(srcset="../img/mv01.webp", type="image/webp")
            img.p-home-concept__img(src="../img/concept02@2x.png", decoding="async" alt="メインビジュアル02")
          picture.p-home-concept__picture
            //- source.p-home-concept__img(srcset="../img/mv01.webp", type="image/webp")
            img.p-home-concept__img(src="../img/concept01@2x.png", decoding="async" alt="メインビジュアル02")
        .p-home-concept__content
          h2.c-section-heading.c-section-heading--concept 
            | Conce#[span p]t 
          .p-home-concept__body 
            p.p-home-concept__head 
              | With the #[span fire] in the old car with 
              | the #[span flame] of an old car.
            p.p-home-concept__foot
              | 木曾路はすべて山の中である。 
              | あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の
              | 岸であり、あるところは山の尾をめぐる谷の入り口である。
            .p-home-concept__link-wrapper
              a.c-button-primary(href="/")
                | View more