// Variables カラー
//--------------------------------------------------------------------------
$color-base: #FDFDFD;
$color-base-thin: #EDEDED;
$color-primary:#222;
$color-primary-thin: #757575;
$color-accent: #991313;