// Variables カラー
//--------------------------------------------------------------------------
$color-base: #FDFDFD;
$color-base-thin: #EDEDED;
$color-primary:#222;
$color-primary-thin: #757575;
$color-primary-dark: #111;
$color-accent: #991313;
$color-secondary: #F6F6F6;