@use "../global" as *;

/* layout .l-home
   ----------------------------------------------------------------- */

.l-home {

}

.l-home__pickup {
  position: relative;
  width: 82%;
  max-width: 824px;
  margin-top: -49px;
  z-index: 100;

  @include mq(lg) {
    width: 100%;
  }
}

.l-home__concept {
  width: 100%;
  padding-top: 60px;
  margin-bottom: 100vh;

  @include mq(md) {
    padding-top: 123px;
    padding-bottom: 52px;
  }
}