@use "../global" as *;

/* layout .l-home
   ----------------------------------------------------------------- */

.l-home__pickup {
  position: relative;
  width: 82%;
  max-width: 824px;
  margin-top: -49px;
  z-index: 100;

  @include mq(lg) {
    width: 100%;
  }
}

.l-home__concept {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 52px;

  @include mq(md) {
    padding-top: 123px;
  }
}

.l-home__lineup {
  width: 100%;
  padding-top: 75px;
  
  @include mq(md) {
    padding-top: 153px;
  }
}

.l-home__gallery {
  padding-top: 84px;

  @include mq(md) {
    padding-top: 194px;
  }
}

.l-home__news {
  padding-top: 62px;

  @include mq(md) {
    padding-top: 118px;
  }
}