@use "../global" as *;

/* animation is-slide-mask
   ----------------------------------------------------------------- */

// マスクアニメーション
$pattern: (
  "left": mask-left,
  "right": mask-right,
);

@each $key, $value in $pattern {
  .is-mask-#{$key} {
    position: relative;
    overflow: hidden;
    & > * {
      opacity: 0;
    }

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .is-active {
    .is-mask-#{$key} {
      & > * {
        opacity: 0;
        @include animation($name: fadeIn, $duration: 0.6s, $delay: 0.7s, $fill-mode: both);
      }
      &::before {
        content: "";
        background-color: $color-secondary;
        @include animation($name: $value, $duration: 1.2s, $delay: -0.1s);
      }
    }

    .is-mask-#{$key}--blend {
      &::before {
        mix-blend-mode: difference;
        background-color: $color-primary;
      }
    }
  }
}
