@use "../global" as *;

/* project .p-pickup
   ----------------------------------------------------------------- */

.c-section-heading {
  font-weight: 700;
  span {
    color: $color-accent;
  }
}

.c-section-heading--pickup {
  @include fz(18);
  @include lh(1.2);
  letter-spacing: 0.1em;
}

.c-section-heading--concept {
  @include fz(18, 20);
  @include lh(1.2);
}