svg(xmlns='http://www.w3.org/2000/svg' width='7.105' height='13.266' viewBox='0 0 7.105 13.266')
  path#icon(d='M8.249,7.462l.368-2.4h-2.3V3.5a1.2,1.2,0,0,1,1.354-1.3H8.714V.162A12.771,12.771,0,0,0,6.855,0,2.931,2.931,0,0,0,3.718,3.231v1.83H1.609v2.4H3.718v5.8h2.6v-5.8Z' transform='translate(-1.609)' fill='#fff')
